**/.classpath
**/.project
**/.settings
**/.idea
**/.iml
**/.tern-project
**/node_modules
**/dist
**/.tmp
**/.sass-cache
**/bower_components
**/rebel.xml
yo/app/scripts/app.constants.js
.directory
.gitconfig
*.iml
.idea
target